body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}
ul {list-style:none;}
ul, ol {list-style-position: outside;}

body
{
    font-family: Arial, Sans-Serif;
    font-size: 14px;
    line-height: 16px;
    background-color: #4d2a1c;
    background-image: url(images/background.png);
    margin: 0px;
    padding: 0px;
    color: #534740;
}

body>div#MainColumn
{
    position:relative;
    width: 800px;
    margin: 0 auto;
}

body>div#MainColumn>div
{
    padding: 50px;
}

div#Header
{
    background-color: White;
    padding-top: 40px;
    padding-bottom: 0px;
}

div#Header 
{
    height: 20px;
}

div#Header ul
{
   float :right;
}

div#Header ul li
{
   display :inline;
}

div#Header ul li a
{
    float: left;
    display: block;
    text-align: center;
}

div#Header a
{
    font-size: 20px;
    text-decoration: none;
    color: #ff99cc;
    white-space: nowrap;
    margin-left: 30px;
}

a#Logo
{
    margin-left: 0px;
}

#Logo *
{
    font-size: 26px;
}

#LogoFirst
{
    color: #534740;
}

#LogoTLD
{
    font-size: 16px;
    color: #988674;
}

div#Body
{
    background-color: #f9c6de;
    background-image: url(images/flowerbackground.png);
}

img
{
    padding-top: 20px;
    padding-bottom: 20px;
}

img.left
{
    float: left;
    position: relative;
    left: -20px;
}

img.right
{
    float: right;
}

p
{
    margin-top: 12px;
}

h3
{
    margin-top: 12px;
}

table#Donations
{
    width: 100%;
}

table#Donations tr#Header
{
    text-align: center;
    background-color: inherit;
}

td#PayPal
{
    text-align: center;
}

ul#Events>li
{
    font-size: 18px;
    line-height: 20px;
}

ul#Events>li *
{
    font-size: 14px;
    line-height: 16px;
}
