<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>

  <title>Helping Hallie</title>
  <link>http://www.helpinghallie.com/</link>
  <description>Helping Hallie</description>

  <%= render :partial => 'event', :collection => @events %>

  </channel>
</rss>
