<%= image_tag 'hallie1.png', :alt => 'Hallie', :class => 'left' %>

<p>Hallie is a beautiful, vivacious, determined little girl. She has this incredible love of life. She loves
singing and dancing and has recently fallen in love with drawing. I always find pictures on random
pieces of paper in almost every room Hallie has been in. She loves preschool and especially playing with
the new friends that she is making, as well as sneaking love notes into the boys' backpacks. She is very
loving and will be the first to tell you thank you for dinner, or for picking her up from school or to just
tell you that she loves you. Hallie has two brothers, one older and one younger that she enjoys playing
with and a puppy that she loves a little too much on occasion.</p>

<%= image_tag 'hallie2.png', :alt => "Hallie", :class => 'right' %>

<p>Unfortunately, unlike other 5 year olds, Hallie spends a good portion of her life at the doctors and in
hospitals. She was born with many complex birth defects that leave her fighting for her life. Her biggest
issue is that she is missing half of both her small and large intestines, although she does have problems
with most of her other major organs including her heart, lungs, pancreas, liver, and the small issue of
having 5 spleens. I remember sitting at the hospital when Hallie was a baby and asking another mom
what her child was having surgery for and how many he had undergone. She laughed and told me that
they had lost track. I don't think I completely understood at the time, but I lost track after Hallie's 18th
surgery, which was sometime last year. One of her nurses told me that it was astounding to see how
many times Hallie has been hospitalized.</p>

<p>At this point, we are unclear of where her future will take us. More surgery is inevitable. We have
recently moved from Reno, Nevada to Chicago, Illinois to be closer to better hospitals and doctors.
Before the move, we had to take Hallie to Salt Lake City, Utah and Cincinnati, Ohio for her care. Over
the last two years, we have averaged one trip a month. Some of them last only a few days, while the
longest lasted 2 months. Our family has been apart so much as we have sought help for our little angel.
In Chicago, Hallie has been placed in the Intestinal Transplant and Rehabilitation program. While she
is not a transplant candidate at this point, our hope is that the doctors here can help rehabilitate her
intestines in order to avoid a transplant. She has had numerous tests done which show that she has
some sort of mechanical defect, which no amount of diet will help. Hallie is on many medicines, as
well as IV nutrition to help her survive. She has a permanent feeding tube in her stomach and a port
with direct access into her blood stream. Hallie has a whole team of doctors including a pediatrician,
gastroenterologist, pulmonologist, neurologist, cardiologist, surgeon, psychologist, and dentist. We are
also seeking out help from a pain specialist.</p>

<p>The Helping Hallie fund was set up to raise money to help pay for expenses with related to her care.
Our monthly expenses to keep sweet Hallie alive are well into the thousands of dollars out of our own
pocket. I shudder to think what we would do without insurance. We don't get a chance to pay off
previous medical bills before she incurs new ones. We are humbled by the many people that have
stepped up to help us out. Every little bit helps and we couldn't do it without your support.</p>
