<%= image_tag 'hallie4.png', :alt => 'Hallie', :class => 'left' %>

<p>Hallie is a beautiful, vivacious, girl full of spunk and sass.  She loves
to draw and create.  She loves fashion and wants to learn how to sew so that
she can create her own designs.  She loves to be outdoors and play with her
friends.</p>

<%= image_tag 'hallie2.png', :alt => "Hallie", :class => 'right' %>

<p>Unfortunately, unlike other kids her age, Hallie spends a good portion of
her life at the doctors and in hospitals. She was born with a condition
called Heterotaxy, where none of her organs formed correctly or in the right
location.  This was caused by another rare condition called Primary Ciliary
Dyskinesia, which is in the same family as Cystic Fibrosis. She has many
complex birth defects that leave her fighting for her life. Her biggest
issue is that she is missing half of both her small and large intestines,
although she does have problems with most of her other major organs
including her heart, lungs, pancreas, liver, kidneys, stomach and the small
issue of having 5 spleens. She has defects of her spine, both with her nerves
and her cervical vertebrae.  She struggles with blood flow to most of her major 
organs, as well as having arthritis, severe migraines, and ulcers in her
intestines. I remember sitting at the hospital when Hallie was a baby and
asking another mom what her child was having surgery for and how many she had
undergone. She laughed and told me that they had lost track. I don't think I
completely understood at the time, but I lost track after Hallie's 18th
surgery, which was sometime last year. One of her nurses told me that it was
astounding to see how many times Hallie has been hospitalized.</p>

<p>It takes a large team to keep Hallie’s body working. She sees GI,
nephrology, hematology, urology, orthopedics, neurology, neurosurgery,
cardiology, pulmonology, rheumatology, immunology, surgery, psychiatry, and
palliative. Keeping up with Hallie and all of her medical appointments is more
than a full time job, not to mention that her two brothers also have special
needs. She attempts to live as normal of a life as possible, but misses about
60 days of school a year.</p>

<p>The Helping Hallie fund was set up to raise money to help pay for expenses
related to her care. Our monthly expenses to keep sweet Hallie alive are well
into the thousands of dollars out of our own pocket. I shudder to think what we
would do without insurance. We don't get a chance to pay off previous medical
bills before she incurs new ones. We are humbled by the many people that have
stepped up to help us out. Every little bit helps and we couldn't do it without
your support.</p>
