<%= image_tag 'hallie5.png', :alt => "Hallie", :class => 'right' %>

<p>On the outside, Hallie looks like a normal, energetic 5 year old. However,
on the inside, it is a completely different story. She was born December 20,
2005 at 37 weeks gestation, and while technically being considered full term,
she looked more like a preemie, weighing in at 4 lbs 8 oz and 17 inches long. I
was only able to hold my baby for about half an hour, when they took her from
me to try and determine what was wrong with her. Hallie was transferred by a
special team to the children's hospital in Salt Lake (where she was born)
within hours of being born. By the next afternoon, they had determined she had
a bowel obstruction and began surgery to fix it. What they found was worse than
they had imagined. She was diagnosed with a jejuna atresia-an apple core
atresia to be exact. There had been a disruption to her blood supply to her
intestines and her intestines completely separated in utero. Her small
intestine end sealed off and because she kept drinking the amniotic fluid, it
stretched out like a balloon. Her large intestine end had no blood supply, so
it withered up and died. They ended up removing half of her small intestine and
half of her large intestine when she was 1 day old. She remained in the NICU
for 25 days, during which time the nurses noticed a heart murmur and tests were
ordered in which it was determined that she had an atrial septal defect,
commonly referred to as an ASD.</p>

<p>We were home only 2 weeks before she was admitted with a respiratory virus
known as RSV. Hallie spent 11 days in the hospital , during which time she
contracted an intestinal infection commonly referred to as C-Dif. Basically,
the antibiotics they were using to fight her ear infections, killed off the
good bacteria as well as the bad in her intestines. This is a big problem for
her because she is missing so much of her intestine, that it is very easy to
disrupt the "flora" (the balance of good and bad bacteria) of her intestines.
</p>

<%= image_tag 'hallie1.png', :alt => 'Hallie', :class => 'left' %>

<p>Shortly after returning home with our baby, we noticed a bulge from time to
 time as we were changing her diaper. If we pushed on it, it went back in, so I
 took her in and she was diagnosed with an inguinal hernia. We scheduled
 surgery to repair it with a new surgeon because we had heard her original
 surgeon did not give her much hope of surviving without being TPN (nutrition
 through an iv) dependent. We needed someone who would give her at least a
 fighting change. Just 3 days before her scheduled surgery, Hallie's intestines
 stopped working and she was rushed in for emergency surgery, this time with
 the surgeon who happened to be on call. Dr. Eric Scaife found that a section
 of her small intestine was flopping over onto her large intestine and had
 created a lot of scarring. He removed 5 inches more of her large intestine,
 although he wasn't hopeful that it was going to solve her problem.</p>

<p>During this 2 week hospitalization, Hallie was scheduled for a cardiologist
appointment and since they were booked so far out, I didn't want to reschedule.
I took her for a little walk and met with the cardiologist and was given
shocking news. Based on the fact that she had a unique heart defect called an
interrupted inferior vena cava with an azyguous continuation, he diagnosed her
with polysplenia, a condition in which the patient has multiple spleens. He
also informed that she had an underdeveloped right lung. As I started to
research polysplenia, I was devastated. Only 4 in 1,000,000 children are born
with it. The survival rate is not great-1 in 3 will not make it to the age of
1. Half of those that survive that long, will not make it to the age of 15.
Major birth defects are associated with polysplenia. Basically the spleens
take up too much room while developing, and so none of the other organs
develop properly. Also, while one would think that having more than 1 spleen
would be great (if 1 is good, multiple is better), the majority of polysplenic
kids don't have a functional spleen, which greatly effects their immune
system.</p>

<%= image_tag 'hallie3.png', :alt => 'Hallie', :class => 'right' %>

<p>Armed with these statistics, we took our daughter home, only to remain there
for 2 days before her intestines stopped working again. Hallie was admitted to
the hospital again, where her doctors, led by Dr. Scaife, determined that her
best chance of survival was a very new surgery, that had only been performed a
few dozen times in the nation, called a Serial Transverse Enteroplasty (STEP).
They had no statistics to give us, but we felt this was her best chance and
chose to go ahead with this option. However, because Hallie's last surgery had
been just 2 weeks before, the risk of causing more damage by operating again
that soon was too high. They surgically implanted a central line into her chest
and got her started on TPN. We took her home a week later, with her only being
able to eat 2/3 of an ounce of formula every 3 hours. It was all her intestines
could tolerate. The rest of her nutrition consisted of me starting at 5:00 at
night, mixing up her TPN and lipids in a sterile environment, programming pumps
and hooking her up by 6:00. By 12:00 the next day, she would be done and we
would get a small break from the pumps. We did this for 6 weeks to buy her time
to recover, in order to do her STEP procedure. It was a very difficult period
of time for us, with Hallie crying a great portion of the time.</p>

<p>A week before she was scheduled for surgery, she ended up with a line
infection and we wound up back in the hospital, on antibiotics, trying to save
her central line. We finally ended pulling the line a few days before surgery
because they would not operate without the infection being under control. On
May 2, 2006, Dr. Scaife took Hallie from our arms and began the STEP procedure.
I had asked him to look at her spleens while he was in there and he found that
she has 5 spleens. Her pancreas is wrapped around her intestines, her liver is
very flat and malformed. All of this is attributed to her polysplenia. He ended
up cutting her intestines apart in 30 different places and stapling them all
back together again. In essence, he completely rebuilt her small intestines,
giving her back about half of the amount she had originally lost. It was a very
hard surgery on her and caused extreme amounts of pain. She required blood
during surgery and they gave her a morphine drip to try and control the pain.
Several hours after surgery, she started itching and jerking around. They
couldn't figure out why until she stopped breathing. She was having an allergic
reaction to the morphine. What a scary day that was! Once they got her
breathing again, they gave Hallie some Benadryl and we quickly switched her to
different pain meds. After that, she amazed all of us. Just 4 short days after
surgery, her intestines recovered enough for her to start eating. We left the
hospital one week after surgery and she took off from there.</p>

<p>Hallie was still on TPN for another month, while her intestines completely
recovered. She had another line infection, which required another week in the
hospital, but on June 1, 2006, they removed her central line. From an
intestinal stand point, she had about 2 1/2 years that she did really well. She
was hospitalized in January 2007 for a respiratory virus, and then again in
February of the same year for another respiratory virus. In March 2007, we
took her in and had tubes put in her ears to help with her ear infections. We
moved to Reno in September of 2007 due to my husband's job. In January 2008,
she ended up with RSV and pneumonia and was in the hospital here for a few days
on oxygen. We were hopeful that we would only be dealing with her immune issues
and the aftermath of her intestinal surgeries.</p>

<p>Shortly after Christmas 2008, Hallie started experiencing a lot of pain in
her belly. We watched her for a few weeks, wondering if she didn't have an
intestinal virus causing the pain. After she started waking up at night in
pain, I took her to her pediatrician. We did x-rays and Hallie was diagnosed
with an ileus. Basically, for whatever reason, her intestines just stopped
working. They put her on a liquid diet for the weekend, but by the next week,
we ended up in the emergency room, with her in immense pain. They gave her
enemas to get things moving again, but I could still see that things were not
normal for her. Because she has so little of her intestines, she should have
frequent, loose bowel movements. She started going 48 hours in between
movements. At this point, I contacted her surgeon and GI doctor in Salt Lake.
They put her on a laxative to try and get things moving and they did for a
few weeks, but by the end of February, she started going 48 hours in between
bowel movements, even on the laxative. I took her to Salt Lake in March, where
she was diagnosed with a partial obstruction. We had to wait to have surgery
because she had a cold and was having an asthma-like reaction to it. Finally,
on March 23, we took her in for surgery. Dr. Scaife went in and removed about
7 inches more of her intestines, leaving her with only 130 cm of small
intestine, about half of normal. The day after surgery, she started coughing
and was quickly diagnosed with influenza and become so weak that she couldn't
even blow bubbles from a wand. She remained in the hospital for 9 days, and
then we stayed with family for a few more days before flying back to
Reno.</p>

<p>Hallie had only been home for 24 hours, when her intestines stopped working.
She was admitted to the local hospital, where they contacted Salt Lake and
decided it was in her best interest to send her back. She was Emergency
Airlifted back to Salt Lake the next day, where they took her off all food and
ran a bunch of tests. After a week in the hospital, we determined that she
could not absorb enough nutrients out of her intestines, so we placed a feeding
tube in her nose, got her stable and released her. We stayed with family
through the Easter weekend to make sure that she really was stable and then
flew home to be with the rest of our family.</p>

<p>Two short days after returning home, she started having a lot of pain and
throwing up, which are classic signs of obstructions. She was admitted, only to
find that she had contracted the rotavirus. Because she was so malnourished
from her ordeal of the last few months, she was there for 4 days while they
balanced out some of her nutrition levels. Shortly after she got home, her baby
brother was admitted for the same virus, however he only had to stay 24
hours.</p>

<p>In June, we took Hallie in and had a permanent feeding tube placed, in order
to make her life easier. She started having problems again in July. We did more
tests in Salt Lake and they found that a section of her intestines is slightly
malrotated. In and of itself, that is not a huge problem, but for whatever
reason, her intestines just don't want to move things through. In September,
we surgically place a central line (permanent IV) and began doing supplemental
nutrition intravenously. We began with just a few days a week and then slowly
increased her to doing it daily.</p>

<p>November 2009 took us to Stanford to try and find better help closer to us.
We only went there a few times before they told us that there was nothing more
they could do for her. They wanted to put her on 100% IV nutrition (TPN) and
not allow her to eat. The problem with this is that the TPN will eventually
damage her liver. The more of it she is on and the less she eats, the quicker
this damage happens. Once the liver is damaged, there really isn't much more
that they can do. We quickly decided to seek help elsewhere.</p>

<p>We headed to Cincinnati, Ohio is December to spend Christmas with Grandma
and Grandpa. Since the children's hospital there has the number 1 GI
department in the nation, we made arrangements to take Hallie there. They
admitted her for a few days for specialized tests.</p>

<p>In March 2010, Hallie came running in will blood spurting out of her central
line. It had broken in half. They were able to put a temporary patch on it and
back to Salt Lake we went to get a new one put in. We made the decision to put
port in. It basically goes completely underneath her skin and is accessed by a
needle when needed. The biggest reason for this was to give her more of a
normal life. With her previous central line, she couldn't swim, she couldn't
bathe, she couldn't get it wet. She also had developed an allergy to her
dressings that covered the central line. Hallie started to get these open
wounds under the dressing. We tried several of them, but she continued having
reactions. We hoped that by only accessing the port when needed and when it
wasn't in use, her not having to have a dressing or anything on her skin would
help the situation. It meant us having to learn to poke her with a needle,
which I hated doing, but in all, we have been very pleased with the port.</p>

<p>April took us back to Cincinnati where they ran even more tests. She was
diagnosed with reflux and a mechanical defect. They felt like no amount of diet
would help her and started her in their bowel management program. It involved
playing around with different medicines and getting an x-ray to see how much it
helped clear her intestines out. Over April and May, Hallie had probably 50
abdominal x-rays. She had also struggled all winter with asthma and we were
just starting to make the connection that it was directly related to her
reflux.</p>

<p>May brought an amazing adventure for our family. Hallie was granted a wish
through Make A Wish and chose to go to Walt Disney World. It was an amazing
time for our family to reconnect and put aside as much of the medical problems
as possible for a week. We stayed at the Give Kids the World Village, which is
specially designed for wish kids. They had so many fun things for the kids to
do aside from the amusement parks. We were given VIP treatment everywhere we
went and it was good to be able to meet families that were dealing with health
problems like us.</p>

<p>In July, Hallie had 2 pseudo obstructions. We spent most of the month trying
to rehab these, but finally ended up taking her back to the hospital in Salt
Lake. She spent a few days there while they tried to figure out what she was
doing. We took the opportunity while we were in Salt Lake for a few weeks to
run more tests. We headed back home, only to have Hallie wake up with a fever
of 105 the first part of August. She was quickly admitted to the hospital in
Reno, where we spent 4 days fighting a line infection before it became critical
and she was airlifted back to Salt Lake. We spent 5 more days fighting it
before they decided to just remove the port. They put a PICC line in her arm
and discharged her. We headed back in September and they surgically placed a
new port.</p>

<p>We received a job transfer in October and moved our family in November to
Chicago, Illinois. We had prayed for a long time for a way to get better help
for Hallie that didn't require our family to be apart as much. When we agreed
to move, we quickly began praying that Hallie would stay stable enough to get
us out here. Amazingly, her body went into a remission of sorts and she did
phenomenally until January 2011. She gained weight, didn't take any meds and
was pretty much pain free. It was an amazing few months and the peace we felt
was almost tangible. But through it all, we felt like it was only a matter of
time before it started up again. We were hoping to build up her reserves to
help Hallie through whatever came next. The doctors even started weaning her
off the TPN.</p>

<p>But as we expected, Hallie relapsed the end of January. She ended up with a
partial bowel obstruction that landed her in the hospital. We spent 3 days
there, during the blizzard that hit Chicago. Thank goodness Grandpa was able to
come up and be with the boys so that I could focus on taking care of Hallie.
Since this hospital visit, Hallie has continued to go downhill. She rarely has
good days any more. We are grateful for 4-5 hours a day. Hallie has been
diagnosed with migraines. She has had them for about a year. They are coming
more and more frequently and last longer and longer. Her abdominal pain is
almost daily. And her legs are hurting her a lot. Her bowels seem to be
functioning better than they have in a while, which is a huge blessing, but her
fight is slowly draining out of her. She is giving in more and more often to
the pain, missing school frequently. I have always been impressed by her
determined ways and her refusal to let her illness define her life. To see her
giving in and saying she just can't do this anymore breaks my heart. Her
doctors think she is depressed (who can blame her?) and want to start her on
some medicine.</p>

<p>In April, at my insistence after having several specialists tell me that she
might have a tethered spinal cord, Hallie underwent an MRI. Not only did they
find the suspected tethered cord (which means she has a hole at the end of her
spine that let her nerves go through and connect to her tailbone and a fatty
tumor pressing on her spine) they found that her cervical spine is completely
malformed. She has 2 vertebrae that are completely fused together.</p>

<p>We spent the summer running test after test after test to determine the
extent of her cervical spine problems and whether they need to be fixed. At
this point, her neck is stable so we will just continue monitoring it every 6
months. Her neurosurgeon tells me that the pressure her vertebrae are putting
on her discs is huge and he would expect her to have degenerative discs in the
next 10 years or so. We attempted surgery to repair her tethered cord, only to
have it cancelled as anesthesia was hooking her up because the doctor was
afraid she might stroke out during surgery. And so we got to do more tests. She
finally was able to have that surgery in October, where she stayed in the
hospital for a week. She will continue to be out of school for at least another
week, perhaps longer as her body slowly recovers.</p>

<p>During all of the other testing, we managed to fit in some upper GI tests as
well. Her esophagus is being slowly fried because her acid levels are so high.
When she is sleeping, her acid levels are somewhere between hydrochloric acid
and battery acid. Hallie has been on iv meds for a year and a half that cost
$3,800 a week for her reflux. We have made the decision to do a surgery called
a Nissen. They will wrap the top of her stomach around the bottom of her
esophagus in hopes that it prevents her from refluxing. We will see how well
she recovers, but will probably do this surgery sometime after the first of the
year. The best part about this summer for Hallie was finally being able to go
off of her iv nutrition after 2 years. It is so nice to not have to hook her up
to pumps every night! Her body still struggles to absorb the nutrients and
water that she needs, so she is like a living chemistry experiment, but at
least we are getting a break from the constant IVs.</p>

<p>Hallie is a full time job. I never imagined anything this difficult when I
thought about being a mom. There are so many days that I wonder how in the
world I will make it through and so many sleepless nights worrying about how
to get Hallie the care she needs and whether we will be able to keep her body
going. But I wouldn't trade it for anything. Hallie has such an amazing spirit.
She just seems to be able to find joy in the smallest things. It doesn't seem to
matter how hard her day has been, the hug and "I love you Mommy" makes it all
worth it.</p>
