<p>T-shirts are $10.00 each w/ $2.00 shipping.  Order by including a note with your <a href="donations.htm">donation</a> of what sizes you want, and where to ship to.  You can ask questions at <a href="mailto:t-shirts@helpinghallie.com">t-shirts@helpinghallie.com</a>.</p>
<p>Available sizes: 2T, 3T, 4T, Youth XS, Youth Small, Youth Medium, Youth Large, Youth XL, Adult Small, Adult Medium, Adult Large, and Adult XL</p>
